<div class="container">

    <div class="my-3 row">
      <label for="typeahead-http" class="col-xs-3 col-sm-auto col-form-label">جستجوی نماد:</label>
      <div class="col">
        <input id="typeahead-http" type="text" class="form-control" [class.is-invalid]="searchFailed"
          [ngbTypeahead]="search" placeholder="جستجوی نماد ...." />
        <small *ngIf="searching" class="form-text text-muted">در حال جستجو...</small>
        <div class="invalid-feedback" *ngIf="searchFailed">عبارت جستجو شده یافت نشد...</div>
      </div>
    </div>

</div>



<router-outlet></router-outlet>