<div class="container p-5">
  <main>
    <form [formGroup]="symbolInfoForm" (ngSubmit)="onSubmit(symbolInfoForm)">
      <div class="mb-3 mt-3">
        <label for="tseLink" class="form-label">لینک TSE:</label>
        <input formControlName="tseLink" type="input" class="form-control" id="tseLink" placeholder="لینک TSE"
          name="tseLink" [ngClass]="{
            'is-invalid':
            isSymbolInfoFormSubmitted &&
            symbolInfoFormSubmittedInfo['tseLink'].errors
          }">
      </div>
      <div class="mb-3 mt-3">
        <label for="codalLink" class="form-label">لینک Codal:</label>
        <input formControlName="codalLink" type="input" class="form-control" id="codalLink" placeholder="لینک Codal"
          name="codalLink" [ngClass]="{
            'is-invalid':
            isSymbolInfoFormSubmitted &&
            symbolInfoFormSubmittedInfo['codalLink'].errors
          }">
      </div>
      <div class="mb-3 mt-3">
        <label for="lastPrice" class="form-label">قیمت روز :</label>
        <input id="lastPrice" (keypress)="numberOnly($event)" type="input" formControlName="lastPrice"
          class="form-control" name="lastPrice" placeholder="قیمت روز" [ngClass]="{
            'is-invalid':
            isSymbolInfoFormSubmitted &&
            symbolInfoFormSubmittedInfo['lastPrice'].errors
          }" appThousandSeparator />
      </div>
      <div class="mb-3 mt-3">
        <label for="marketValue" class="form-label"> ارزش بازار :</label>
        <input id="marketValue" (keypress)="numberOnly($event)" type="input" formControlName="marketValue"
          class="form-control" name="marketValue" placeholder="ارزش بازار" [ngClass]="{
            'is-invalid':
            isSymbolInfoFormSubmitted &&
            symbolInfoFormSubmittedInfo['marketValue'].errors
          }" appThousandSeparator />
      </div>
      <button class="btn btn-primary" type="submit">ثبت</button>
    </form>
  </main>

</div>