::ng-deep .dropdown-menu.show {
    text-align: right;
}

::ng-deep .dropdown-menu {
    width: 400px;
}

//home

.main-container {
    display: flex;
}

.others {
    flex: 4;
    width: calc(100% - 300px);
    height: 100%;
    overflow: auto;
}

