::ng-deep .dropdown-menu.show {
    text-align: right;
}

::ng-deep .dropdown-menu {
    width: 400px;
}

//home
* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}


.main-container {
    display: flex;
    height: 100vh;
}

.others {
    flex: 4;
    width: calc(100% - 280px);
    height: 100%;
    overflow: hidden;
    background-color: #f1f5f7;
}

.header {
    position: fixed;
    top: 0px;
    left: 0px;
    display: block;
    width: calc(100% - 280px);
    z-index: 20;
    height: 42px;
    border-bottom: 1px solid #9eb9c7;
    background-color:  #2e70b8;
}

.main {
    max-height: calc(100vh - 62px);
    overflow-y: auto;
    margin-top: 25px;
    overflow-x: hidden;

}

.footer {
    bottom: 0px;
    left: 0px;
    display: block;
    position: fixed;
    width: calc(100% - 280px);
    min-height: 20px;
    height: auto;
    z-index: 20;
    border-top: 1px solid #9eb9c7;
    backdrop-filter: blur(20px);
}