//sidebar

.sidebar {
    flex: 1;
    height: 100vh;
    background-color: rgb(14, 34, 56);
    border-right-color: rgb(31, 31, 31);
    border: 1px solid;
    position: sticky;
    top: 0;
    width: 280px;
    overflow: auto;

}

.sidebarWrapper {
    padding: 20px 0 20px 20px;
    color: rgb(158, 169, 180);

}

.sidebarMenu {
    margin-bottom: 10px;
}

.sidebarTitle {
    font-style: 13px;
    color: lightgray;
}

.sidebarList {
    list-style: none;
    padding: 5px;
}

.sidebarListItem {
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: baseline;
    border-radius: 10px;
}

.sidebarListItem:hover {
    color: rgb(0, 186, 199);
}

.sidebarListItem.active {
    background-color: rgba(0, 186, 199, .12);
    color: rgb(0, 186, 199);
    align-items: center;
    border-bottom-left-radius: 1.875rem;
    border-top-left-radius: 1.875rem;
    display: flex;
    font-weight: 600;
    margin-left: 1.875rem;
    padding-left: 1.25rem;
}



.sidebarIcon {
    margin-right: 5px;
    font-style: 20px !important;

}

.collapsed .card-body {
    height: 0;
    overflow: hidden;
    transition: height 2s ease-in-out;
    padding: 0;
}

.card-body {
    transition: height 2s ease-in-out;

}


    #card {
        border: none;
    }

    #card-body {
        background-color: rgb(14, 34, 56);
        border: none;
        padding: 0;
    }

    #card-header {
        background-color: rgb(14, 34, 56);
        border: none;

    }
