<div class='sidebar'>
    <div class="sidebarWrapper">
        <div class="sidebarMenu">
            <h5 class='sidebarTitle'>خانه</h5>
            <ul class='sidebarList'>
                <li class="sidebarListItem" routerLink='/home' routerLinkActive='active'>
                    <!-- <LineStyleIcon class='sidebarIcon' /> -->
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <div style="margin-right: 15px;">
                        خانه
                    </div>
                </li>
            </ul>
            <div class="sidebarMenu">
                <h5 class='sidebarTitle'>صورت های مالی</h5>
                <ul class='sidebarList'>
                    <li class="sidebarListItem" routerLink='/get-financial-report' routerLinkActive='active'>
                        <i class="fa fa-table" aria-hidden="true"></i>
                        <div style="margin-right: 15px;">

                            گزارش صورت های مالی
                        </div>
                    </li>
                    <li class="sidebarListItem" routerLink='/financial-report' routerLinkActive='active'>
                        <!-- <TimeLine class='sidebarIcon' /> -->
                        <i class="fa fa-book" aria-hidden="true"></i>
                        <div style="margin-right: 15px;">
                            ثبت صورت های مالی
                        </div>
                    </li>

                </ul>
            </div>
            <div class="sidebarMenu">
                <h5 class='sidebarTitle'>فعالیت های ماهانه</h5>
                <ul class='sidebarList'>
                    <li class="sidebarListItem">
                        <i class="fa fa-table" aria-hidden="true"></i>
                        <div style="margin-right: 15px;">

                            گزارش فروش های ماهانه
                        </div>
                    </li>
                    <li class="sidebarListItem" routerLink='/sales-report' routerLinkActive='active'>
                        <i class="fa fa-usd" aria-hidden="true"></i>
                        <div style="margin-right: 15px;">
                            ثبت قروش های ماهانه

                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>