<div class="container-fluid p-4" dir="rtl" *ngIf="detail">
  <!-- Header Section -->
  <div class="row mb-4">
    <div class="col-12">
      <div class="card">
        <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
          <h4 class="mb-0">گزیده گزارش تفسیری صفحه 5</h4>
          <button class="btn btn-light btn-sm" (click)="goBack()">
            <i class="fa fa-arrow-right me-1"></i> بازگشت
          </button>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6 mb-3">
              <div class="info-row">
                <span class="label">نماد:</span>
                <span class="value fw-bold">{{ detail.symbol }}</span>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div class="info-row">
                <span class="label">ISIN:</span>
                <span class="value">{{ detail.isin }}</span>
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <div class="info-row">
                <span class="label">سال مالی:</span>
                <span class="value">{{ detail.fiscalYear }}</span>
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <div class="info-row">
                <span class="label">ماه گزارش:</span>
                <span class="value">{{ getMonthName(detail.reportMonth) }}</span>
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <div class="info-row">
                <span class="label">نسخه:</span>
                <span class="value">V{{ detail.version }}</span>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div class="info-row">
                <span class="label">تاریخ انتشار:</span>
                <span class="value">{{ detail.publishDate | date:'yyyy/MM/dd' }}</span>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div class="info-row">
                <a [href]="detail.uri" target="_blank" class="btn btn-sm btn-outline-primary">
                  <i class="fa fa-external-link me-1"></i> مشاهده در CODAL
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Tabs Section -->
  <div class="row">
    <div class="col-12">
      <ngb-accordion #acc="ngbAccordion">
        <!-- Other Operating Incomes -->
        <ngb-panel id="panel-operating-incomes" *ngIf="detail.otherOperatingIncomes && detail.otherOperatingIncomes.length > 0">
          <ng-template ngbPanelTitle>
            <span class="accordion-title">سایر درآمدهای عملیاتی</span>
          </ng-template>
          <ng-template ngbPanelContent>
            <div class="table-responsive">
              <table class="table table-bordered table-hover">
                <thead class="table-light">
                  <tr>
                    <th>شرح ردیف</th>
                    <th>مبالغ دوره جاری</th>
                    <th>مبالغ مدت مشابه سال قبل</th>
                    <th>مبالغ از ابتدای سال تا پایان دوره</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of detail.otherOperatingIncomes" 
                      [class.summary-row]="isSummaryRow(item.rowCode)"
                      [class.data-row]="isDataRow(item.rowCode)">
                    <td>{{ item.itemDescription }}</td>
                    <td class="text-end">{{ item.currentPeriodAmount | number:'1.0-0' }}</td>
                    <td class="text-end">{{ item.lastYearSamePeriodAmount | number:'1.0-0' }}</td>
                    <td class="text-end">{{ item.fromStartOfYearToEndOfPeriodAmount | number:'1.0-0' }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ng-template>
        </ngb-panel>

        <!-- Other Non-Operating Expenses -->
        <ngb-panel id="panel-non-operating-expenses" *ngIf="detail.otherNonOperatingExpenses && detail.otherNonOperatingExpenses.length > 0">
          <ng-template ngbPanelTitle>
            <span class="accordion-title">سایر هزینههای غیر عملیاتی</span>
          </ng-template>
          <ng-template ngbPanelContent>
            <div class="table-responsive">
              <table class="table table-bordered table-hover">
                <thead class="table-light">
                  <tr>
                    <th>شرح ردیف</th>
                    <th>مبالغ دوره جاری</th>
                    <th>مبالغ مدت مشابه سال قبل</th>
                    <th>مبالغ از ابتدای سال تا پایان دوره</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of detail.otherNonOperatingExpenses"
                      [class.summary-row]="isSummaryRow(item.rowCode)"
                      [class.data-row]="isDataRow(item.rowCode)">
                    <td>{{ item.itemDescription }}</td>
                    <td class="text-end">{{ item.currentPeriodAmount | number:'1.0-0' }}</td>
                    <td class="text-end">{{ item.lastYearSamePeriodAmount | number:'1.0-0' }}</td>
                    <td class="text-end">{{ item.fromStartOfYearToEndOfPeriodAmount | number:'1.0-0' }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ng-template>
        </ngb-panel>

        <!-- Financing Details -->
        <ngb-panel id="panel-financing-details" *ngIf="detail.financingDetails && detail.financingDetails.length > 0">
          <ng-template ngbPanelTitle>
            <span class="accordion-title">جزئیات تأمین مالی</span>
          </ng-template>
          <ng-template ngbPanelContent>
            <div class="table-responsive">
              <table class="table table-bordered table-hover table-sm">
                <thead class="table-light">
                  <tr>
                    <th>منبع تأمین مالی</th>
                    <th>نرخ سود (%)</th>
                    <th>مانده وام ابتدای سال</th>
                    <th>مبلغ وام دریافتی</th>
                    <th>مبلغ بازپرداختی</th>
                    <th>مانده وام پایان دوره</th>
                    <th>هزینه مالی</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of detail.financingDetails"
                      [class.summary-row]="isSummaryRow(item.rowCode)"
                      [class.data-row]="isDataRow(item.rowCode)">
                    <td>{{ item.financingSource }}</td>
                    <td class="text-end">{{ item.interestRate | number:'1.2-2' }}</td>
                    <td class="text-end">{{ item.loanBalanceAtStartOfYear | number:'1.0-0' }}</td>
                    <td class="text-end">{{ item.loanAmountReceivedDuringPeriod | number:'1.0-0' }}</td>
                    <td class="text-end">{{ item.repaidAmountDuringPeriod | number:'1.0-0' }}</td>
                    <td class="text-end">{{ item.loanBalanceAtEndOfPeriod | number:'1.0-0' }}</td>
                    <td class="text-end">{{ item.financialExpense | number:'1.0-0' }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ng-template>
        </ngb-panel>

        <!-- Financing Details Estimated -->
        <ngb-panel id="panel-financing-details-estimated" *ngIf="detail.financingDetailsEstimated && detail.financingDetailsEstimated.length > 0">
          <ng-template ngbPanelTitle>
            <span class="accordion-title">جزئیات تأمین مالی (برآوردی)</span>
          </ng-template>
          <ng-template ngbPanelContent>
            <div class="table-responsive">
              <table class="table table-bordered table-hover table-sm">
                <thead class="table-light">
                  <tr>
                    <th>منبع تأمین مالی</th>
                    <th>نرخ سود (%)</th>
                    <th>مانده وام ابتدای سال</th>
                    <th>مبلغ وام دریافتی</th>
                    <th>مبلغ بازپرداختی</th>
                    <th>مانده وام پایان دوره</th>
                    <th>هزینه مالی</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of detail.financingDetailsEstimated"
                      [class.summary-row]="isSummaryRow(item.rowCode)"
                      [class.data-row]="isDataRow(item.rowCode)">
                    <td>{{ item.financingSource }}</td>
                    <td class="text-end">{{ item.interestRate | number:'1.2-2' }}</td>
                    <td class="text-end">{{ item.loanBalanceAtStartOfYear | number:'1.0-0' }}</td>
                    <td class="text-end">{{ item.loanAmountReceivedDuringPeriod | number:'1.0-0' }}</td>
                    <td class="text-end">{{ item.repaidAmountDuringPeriod | number:'1.0-0' }}</td>
                    <td class="text-end">{{ item.loanBalanceAtEndOfPeriod | number:'1.0-0' }}</td>
                    <td class="text-end">{{ item.financialExpense | number:'1.0-0' }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ng-template>
        </ngb-panel>

        <!-- Investment Incomes -->
        <ngb-panel id="panel-investment-incomes" *ngIf="detail.investmentIncomes && detail.investmentIncomes.length > 0">
          <ng-template ngbPanelTitle>
            <span class="accordion-title">درآمدهای سرمایهگذاری</span>
          </ng-template>
          <ng-template ngbPanelContent>
            <div class="table-responsive">
              <table class="table table-bordered table-hover">
                <thead class="table-light">
                  <tr>
                    <th>شرح ردیف</th>
                    <th>مبالغ دوره جاری</th>
                    <th>مبالغ مدت مشابه سال قبل</th>
                    <th>مبالغ از ابتدای سال تا پایان دوره</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of detail.investmentIncomes"
                      [class.summary-row]="isSummaryRow(item.rowCode)"
                      [class.data-row]="isDataRow(item.rowCode)">
                    <td>{{ item.itemDescription }}</td>
                    <td class="text-end">{{ item.currentPeriodAmount | number:'1.0-0' }}</td>
                    <td class="text-end">{{ item.lastYearSamePeriodAmount | number:'1.0-0' }}</td>
                    <td class="text-end">{{ item.fromStartOfYearToEndOfPeriodAmount | number:'1.0-0' }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ng-template>
        </ngb-panel>

        <!-- Miscellaneous Expenses -->
        <ngb-panel id="panel-miscellaneous-expenses" *ngIf="detail.miscellaneousExpenses && detail.miscellaneousExpenses.length > 0">
          <ng-template ngbPanelTitle>
            <span class="accordion-title">هزینههای متفرقه</span>
          </ng-template>
          <ng-template ngbPanelContent>
            <div class="table-responsive">
              <table class="table table-bordered table-hover">
                <thead class="table-light">
                  <tr>
                    <th>شرح ردیف</th>
                    <th>مبالغ دوره جاری</th>
                    <th>مبالغ مدت مشابه سال قبل</th>
                    <th>مبالغ از ابتدای سال تا پایان دوره</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of detail.miscellaneousExpenses"
                      [class.summary-row]="isSummaryRow(item.rowCode)"
                      [class.data-row]="isDataRow(item.rowCode)">
                    <td>{{ item.itemDescription }}</td>
                    <td class="text-end">{{ item.currentPeriodAmount | number:'1.0-0' }}</td>
                    <td class="text-end">{{ item.lastYearSamePeriodAmount | number:'1.0-0' }}</td>
                    <td class="text-end">{{ item.fromStartOfYearToEndOfPeriodAmount | number:'1.0-0' }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ng-template>
        </ngb-panel>

        <!-- Descriptions -->
        <ngb-panel id="panel-descriptions" *ngIf="detail.descriptions && detail.descriptions.length > 0">
          <ng-template ngbPanelTitle>
            <span class="accordion-title">توضیحات</span>
          </ng-template>
          <ng-template ngbPanelContent>
            <div class="table-responsive">
              <table class="table table-bordered table-hover">
                <thead class="table-light">
                  <tr>
                    <th>بخش</th>
                    <th>توضیحات</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of detail.descriptions">
                    <td>{{ item.sectionName }}</td>
                    <td>{{ item.description }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
  </div>
</div>

<!-- Loading Spinner -->
<div *ngIf="isLoading" class="loading-container">
  <div class="spinner-grow text-primary" style="position: absolute; left: 50%; top: 50%;"></div>
</div>
