/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@font-face {
    font-family: iranSans;
    src: url(./assets/font/IranianSans.woff);
  }
  *{
    font-family: iranSans;
  }
