/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@font-face {
    font-family: iranSans;
    src: url(./assets/font/IranianSans.woff);
  }
  *{
    font-family: iranSans;
  }
  .error-validation {
    border-color: #dc3545 !important;
}

.cursor-pointer{
  cursor: pointer;
}
.font-1{
  font-size: 1rem !important;
}

.font-2{
  font-size: 2rem !important;
}

.loading-container {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0) !important; /* Fallback color */
  background-color: rgba(0,0,0,0.4) !important; /* Black w/ opacity */
}



