table thead th {
    font-size: 13px;
    white-space: nowrap;
    text-align: center;
    color: #fff;

}

table tbody td {
    font-size: 12px;
    white-space: nowrap;
    text-align: center;
}

.collapsed .card-body {
    height: 0;
    overflow: hidden;
    transition: height 2s ease-in-out;
    padding: 0;
}

.card-body {
    transition: height 2s ease-in-out;

}

::ng-deep {

    .page-item:last-child .page-link,
    .page-item:first-child .page-link {
        border-radius: 0 !important;
    }

    .tooltip-class .tooltip-inner {
        padding: 0.5rem 1rem;
        background-color: #0d6efd;

    }

    .tooltip-class-negative .tooltip-inner {
        padding: 0.5rem 1rem;
        background-color: #dc3545;
    }
}

.expandedRow {
    display: none;
}

.expandedRow.active {
    display: block;
}